<div class="container mx-auto px-6 py-8">
  <h2 class="text-3xl font-bold mb-6 text-center">Carrito de Compras</h2>

  <!-- Lista de productos del carrito -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Producto 1 -->
    <div *ngFor="let product of products" class="card bg-base-100 shadow-md">
      <div class="flex items-center space-x-4 p-4">
        <figure class="w-24 h-24">
          <img
            src="https://via.placeholder.com/100x100"
            alt="Producto 1"
            class="object-cover w-full h-full rounded-md"
          />
        </figure>
        <div class="flex-1">
          <h2 class="card-title text-lg">{{ product.nombre }}</h2>
          <p>{{ product.precio }}</p>
          <div class="mt-2 flex items-center space-x-2"></div>
          <button
            (click)="removeFromCart(product.id)"
            class="btn btn-error btn-sm"
          >
            Eliminar
          </button>
        </div>
      </div>

      <!-- Resumen del carrito -->
      <div class="mt-8 p-6 bg-white shadow-md rounded-lg">
        <h3 class="text-xl font-semibold mb-4">Resumen del Pedido</h3>
        <div class="flex justify-between mb-2">
          <span>Subtotal:</span>
          <span>{{ total | currency }}</span>
        </div>
        <div class="flex justify-between mb-2">
          <span>Envío:</span>
          <span>$100.00</span>
        </div>
        <div class="flex justify-between mb-4">
          <span class="font-bold">Total:</span>
          <span class="font-bold">{{ total + 100 | currency }}</span>
        </div>
        <button (click)="checkout()" class="btn btn-neutral w-full">
          Proceder al Pago
        </button>
      </div>
    </div>
  </div>
</div>
