<div class="min-h-screen flex flex-col justify-between">
   <!-- Contenido principal -->
   <div>
      <div class="shadow-md bg-base-100">
         <div class="px-9 py-6 flex justify-between items-center">
            <!-- Logo -->
            <div>
               <nav class="flex space-x-4">
                  <a class="text-xl font-semibold" routerLink="/catalogo">EnTazados</a>
               </nav>
            </div>

            <!-- Enlaces de navegación -->
            <div>
               <nav class="flex space-x-6 items-center">
                  <a class="btn btn-ghost text-base" routerLink="/catalogo">Catálogo</a>
                  <a class="btn btn-ghost text-base" routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a>
                  <a class="btn btn-ghost text-base" routerLink="/pedidos">Pedidos</a>

                  <a class="btn btn-ghost text-base" routerLink="/log-in">Iniciar Sesion</a>
                  <a class="btn btn-ghost text-base" routerLink="/sign-up">Registrarse</a>
               </nav>

            </div>

         </div>
      </div>

      <!-- Contenido dinámico -->
      <div class="p-8">
         <router-outlet></router-outlet>
      </div>
   </div>

<footer class="bg-base-200 text-base-content py-8">
   <div class="container mx-auto px-9">
      <div class="flex justify-between">
         <!-- Sección Nosotros -->
         <div>
            <h2 class="footer-title mb-4">Nosotros</h2>
            <ul>
               <li class="link link-hover mb-2">
                  <a routerLink="/contacto">Contacto</a>
               </li>
            </ul>
         </div>

         <!-- Sección Ayuda -->
         <div>
            <h2 class="footer-title mb-4">Informacion</h2>
            <ul>
               <li class="link link-hover mb-2">
                  <a routerLink="/aviso-de-privacidad">Aviso de Privacidad</a>
               </li>

               <li class="link link-hover mb-2">
                  <a routerLink="/terminos-ycondiciones">Términos y Condiciones</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="mt-8 text-center">&copy; 2024 Kookay Boutique. Todos los derechos reservados.</div>
   </div>
</footer>