<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg my-8">
   <h1 class="text-2xl font-bold text-gray-800 mb-6">Contacto</h1>
   
   <div class="contact-info">
       <h2 class="text-xl font-semibold text-gray-800 mb-2">Ubicación</h2>
       <p class="text-gray-700 leading-relaxed mb-6">Azucenas 892, Colonia Bugambilias, Zapopan, Jalisco, México, 45030</p>

       <h2 class="text-xl font-semibold text-gray-800 mb-2">Teléfono</h2>
       <p class="text-gray-700 leading-relaxed mb-6">+52 12 3456 7890</p>

       <h2 class="text-xl font-semibold text-gray-800 mb-2">Correo Electrónico</h2>
       <p class="text-blue-500 hover:underline">
           <a href="mailto:EnTazados@gmail.com">EnTazados</a>
       </p>
   </div>
</div>
