<div class="container mx-auto px-6 py-8">
   <h2 class="text-3xl font-bold mb-6 text-center">Catálogo de Productos</h2>

   <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Ciclo para recorrer los productos -->
      <div *ngFor="let producto of productos" class="card bg-base-100 shadow-md">
         <div class="card-body">
            <h2 class="card-title">{{ producto.nombre }}</h2>
            <p>${{ producto.precio }}</p>
            <div class="card-actions justify-end">
               <button class="btn btn-primary">Agregar al carrito</button>
            </div>
         </div>
      </div>
   </div>
</div>